$font-family-main: "Arial", serif;
$font-size-m: 16px;
$font-line-m: 24px;
$font-size-l: 24px;
$font-line-l: 32px;
$bg-color-dark: #343542;
$primary-color-dark: #fcfdff;
$secondary-color-dark: #d9dade;
$bg-color-light: #fcfdff;
$primary-color-light: #222224;
$secondary-color-light: #3d3d40;
$navbar-height: 50px;
$sidebar-width: 300px;
$sidebar-width-collapsed: 80px;
