@import '../../../app/styles/variables/global.scss';

.navbar {
  width: 100%;
  height: $navbar-height;
  background-color: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  padding: 20px;

  .links {
    display: flex;
    gap: 30px;
    margin-left: auto;
  }
}
